@font-face {
  font-family: 'plaidm';
  src: url('/fonts/plaid_m-webfont.woff2') format('woff2'),
       url('/fonts/plaid_m-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
body {
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  color: #222;
  font-size: 18px;
  line-height: 21px;
  font-family: 'plaidm', monospace;
  font-weight: normal;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
h1 {
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
  color: #222;
  margin: 0;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: underline;
  color: #222;
}
a:hover {
  text-decoration: none;
}
.uppercase {
  text-transform: uppercase;
}
.hidden-mobile {
  display: none;
}
.img {
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container {
  padding: 10px;
}
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapper-100 {
  flex-direction: column;
}
.wrapper-2-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.about {
  padding: 50px 0;
  padding: 13vh 0;
}
.grid {
  margin-right: -10px;
  margin-left: -10px;
}
.grid-topline {
  padding: 0 10px;
  margin-bottom: 10px;
}
.grid-topline .col-empty, .grid-item-header .col-empty {
  width: 65px;
  margin-left: 10px;
}
.grid-item {
  border-top: 1px solid #222;
}
.grid-item:last-child {
  border-bottom: 1px solid #222;
}
.grid-item.active {
  background: #F6F6F6;
}
.grid-item.active .grid-item-body {
  display: block;
}
.grid-item-header, .grid-item-body {
  padding: 10px 10px 9px;
}
.grid-item-header {
  cursor: pointer;
  -webkit-transition: background ease-in-out .15s;
  -o-transition: background ease-in-out .15s;
  transition: background ease-in-out .15s;
}
.grid-item-header:hover {
  background: #F6F6F6;
}
.grid-item-body {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 20px;
}
.grid-item-body .col {
  margin-bottom: 10px;
}
.purchase {
  margin-top: 0;
  margin-bottom: 10px;
}
.purchase p {
  margin-bottom: 0;
}
.image-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.image-grid .img {
  width: 48%;
  width: calc(50% - 5px);
  padding-bottom: 50%;
  margin-bottom: 10px;
}
.image-grid-34 .img {
  padding-bottom: 34%;
}
.reviews-title {
  margin-bottom: 10px;
}
.tracklist {
  margin-top: 15px;
  /*line-height: 25px;*/
}
.info p:last-child {
  margin-bottom: 0;
}
.subscribe {
  margin-top: 10px;
}
.subscribe-wrapper {
  display: flex;
}
.subscribe input.email {
  display: block;
  position: relative;
  color: #222;
  width: 100%;
  appearance: none;
  padding: 6px 0;
  border: none;
  border-bottom: 1px solid #222;
  text-align: left;
  font-size: 18px;
  line-height: 21px;
  font-family: 'plaidm', monospace;
  font-weight: normal;
}
.subscribe input.email:focus {
  outline: none;
  caret-color: #222;
}
.subscribe input.email::placeholder {
  color: #222;
}
.subscribe .button {
  user-select: none;
  outline: none;
  transition: all .25s ease-in-out;
  cursor: pointer;
  border: 1px solid #222;
  border-radius: 0;
  padding: 6px 12px;
  font-size: 18px;
  line-height: 21px;
  font-family: 'plaidm', monospace;
  margin-left: 10px;
  background: transparent;
}
.subscribe .button:hover {
  background: #222;
  color: #fff;
}
.footer {
  margin-top: -10px;
}
@media only screen and (min-width: 750px) {
  p {
    margin-bottom: 20px;
  }
  .container {
    padding: 20px;
  }
  .col-100 {
    width: 100%;
  }
  .hidden-mobile {
    display: block;
  }
  .hidden-desktop {
    display: none;
  }
  .wrapper-100 {
    flex-direction: row;
  }
  .wrapper-2-col {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .col {
    padding-right: 20px;
    width: 50%;
  }
  .col-empty {
    width: 65px;
    margin-left: 0 !important;
  }
  .about .text {
    width: 99%;
  }
  .grid {
    margin-right: -20px;
    margin-left: -20px;
  }
  .grid-item-body .col {
    margin-bottom: 20px;
  }
  .grid-item-header, .grid-item-body {
    padding: 20px 20px 19px;
  }
  .grid-item-body {
    padding-top: 10px;
  }
  .grid-topline {
    padding: 0 20px;
    margin-bottom: 20px;
  }
  .image-grid {
    margin-bottom: 5px !important;
  }
  .image-grid .img {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .purchase {
    margin-top: 20px;
    margin-bottom: 0;
  }
  .reviews-title {
    margin-bottom: 15px;
  }
  .tracklist {
    margin-top: 20px;
  }
  .subscribe {
    margin-top: -7px;
  }
  .footer {
    margin-top: -20px;
  }
}